{% comment %}
  Renders a megamenu for the header.

  Usage:
  {% render 'header-mega-menu' %}
{% endcomment %}

<nav class="header__inline-menu">
  <ul class="list-menu list-menu--inline {% if section.settings.cstm_style %} cstm_mega-menu {% endif %}" role="list">
    {%- for link in section.settings.menu.links -%}
      <li>
        {%- if link.links != blank -%}
          <header-menu>
            <details id="Details-HeaderMenu-{{ forloop.index }}" class="mega-menu">
              <summary
                id="HeaderMenu-{{ link.handle }}"
                class="header__menu-item list-menu__item link focus-inset"
              >
                <span
                  {%- if link.child_active %}
                    class="header__active-menu-item"
                  {% endif %}
                >
                  {{- link.title | escape -}}
                </span>
                {{- 'icon-caret.svg' | inline_asset_content -}}
              </summary>
              <div
                id="MegaMenu-Content-{{ forloop.index }}"
                class="mega-menu__content color-{{ section.settings.menu_color_scheme }} gradient motion-reduce global-settings-popup"
                tabindex="-1"
              >
                <ul
                  class="mega-menu__list page-width{% if link.levels == 1 %} mega-menu__list--condensed{% endif %}"
                  role="list"
                >
                  {%- for childlink in link.links -%}
                    <li>
                      <a
                        id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                        href="{{ childlink.url }}"
                        class="mega-menu__link mega-menu__link--level-2 link{% if childlink.current %} mega-menu__link--active{% endif %}"
                        {% if childlink.current %}
                          aria-current="page"
                        {% endif %}
                      >
                        {{ childlink.title | escape }}
                      </a>
                      {%- if childlink.links != blank -%}
                        <ul class="list-unstyled" role="list">
                          {%- for grandchildlink in childlink.links -%}
                            <li>
                              <a
                                id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                href="{{ grandchildlink.url }}"
                                class="mega-menu__link link{% if grandchildlink.current %} mega-menu__link--active{% endif %}"
                                {% if grandchildlink.current %}
                                  aria-current="page"
                                {% endif %}
                              >
                                {{ grandchildlink.title | escape }}
                              </a>
                            </li>
                          {%- endfor -%}
                        </ul>
                      {%- endif -%}
                    </li>
                  {%- endfor -%}
                </ul>
              </div>
            </details>
          </header-menu>
        {%- else -%}
          <a
            id="HeaderMenu-{{ link.handle }}"
            href="{{ link.url }}"
            class="header__menu-item list-menu__item link link--text focus-inset"
            {% if link.current %}
              aria-current="page"
            {% endif %}
          >
            <span
              {%- if link.current %}
                class="header__active-menu-item"
              {% endif %}
            >
              {{- link.title | escape -}}
            </span>
          </a>
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
</nav>


<script>
document.addEventListener("DOMContentLoaded", function () {

  const menus = document.querySelectorAll('.cstm_mega-menu details.mega-menu');

  menus.forEach(menu => {

    let timeout;

    menu.addEventListener("mouseenter", () => {
      clearTimeout(timeout);
      menu.setAttribute("open", true);
    });

    menu.addEventListener("mouseleave", () => {
      timeout = setTimeout(() => {
        menu.removeAttribute("open");
      }, 200); // small delay prevents flicker
    });

  });

});
</script>



{% style %}
  
.cstm_mega-menu .header__menu-item {
    font-family: PP Mori;
    font-weight: 600;
    font-size: 16px;
    line-height: 23.4px;
    letter-spacing: 0px;
    color: #000 !important;
}

.cstm_mega-menu .header__menu-item:hover span{
  text-decoration: none !important;
  color: #7C0732;
}

.cstm_mega-menu .mega-menu__list--condensed .mega-menu__link {
    font-family: PP Mori;
    font-weight: 600;
    font-size: 16px;
    line-height: 23.4px;
    letter-spacing: 0px;
}

.cstm_mega-menu .mega-menu__list .mega-menu__link {
    font-family: PP Mori;
    font-weight: 600;
    font-size: 16px;
    line-height: 23.4px;
    letter-spacing: 0px;
    color: #000;
}

.cstm_mega-menu .mega-menu__list .mega-menu__link:hover{
    text-decoration: none;
    color: #7C0732;
}

.cstm_mega-menu .mega-menu__list  ul .mega-menu__link {
    font-size: 14px;
    color: unset;
}

.cstm_mega-menu .mega-menu__list ul .mega-menu__link:hover {
    text-decoration: none;
    color: #7C0732;
}

.cstm_mega-menu .mega-menu__list--condensed .mega-menu__link:hover {
    text-decoration: none;
    color: #7C0732;
}

{% endstyle %}