{% style %}
  .section-{{ section.id }} {
    padding-top: {{ section.settings.padding_top_desktop }}px;
    padding-bottom: {{ section.settings.padding_bottom_desktop }}px;
    position: relative;
  }

  .section-abs-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

h2.adds-banner-title {
    font-family: PP Mori;
    font-weight: 600;
    font-size: 36px;
    line-height: 36.6px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: {{ section.settings.text_colot }};
    margin: 0 ;

}

p.adds-banner-desc {
    margin: 8px 0 0;
    font-family: PP Mori;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0px;
    vertical-align: middle;
    max-width: 521px;
    color: {{ section.settings.text_colot }};
}

a.adds-banner-btn {
    background-color: {{ section.settings.btn_bg }};
    color: {{ section.settings.btn_text }};
    padding: 14px 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    backdrop-filter: blur(34.71186447143555px);
    font-family: PP Mori;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    transition: all 0.3s ease;
    margin-top: 24px;
    cursor: pointer;
    border: 1px solid {{ section.settings.btn_bg }};
}

a.adds-banner-btn:hover{
  /* transform: translateY(-3px); */
    border: 1px solid {{ section.settings.btn_bg }};
    background-color: transparent;
    color: {{ section.settings.btn_bg }};
}

.adds-banner-wrapper {
    max-width: {{ section.settings.max_width }}px;
    width: 100%;
    position: absolute;
    top: auto;
    left: 80px;
    bottom: 80px;
}

  .adds-banner_img-mob{
    display: none !important;
  }

  .whole-seller .adds-banner-wrapper {
    bottom: 60px;
    transform: unset;
    top: auto;
}

.whole-seller h2.adds-banner-title {
    font-size: 46px;
    line-height: 55px;
}

.adds-banner-icon img,
.adds-banner-stars img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.adds-banner-icon{
    max-width: 130px;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.adds-banner-stars{
    max-width: 78px;
    width: 100%;
    height: auto;
}

.adds-banner-reviews {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 8px;
}

span.adds-banner-review-text {
    font-family: PP Mori;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #000;
}


  @media screen and (max-width: 900px) {
    .section-{{ section.id }} {
      padding-top: {{ section.settings.padding_top_mobile }}px;
      padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
    }
    img.adds-banner_img-desk {
    display: none;
}

img.adds-banner_img-mob {
    display: block !important;
}

h2.adds-banner-title {
    font-size: 28px;
    line-height: 36.4px;
}

.about-us h2.adds-banner-title {
    font-size: 28px;
    line-height: 36.4px;
    margin-bottom: 12px;
}

.about-us .adds-banner-wrapper {
    bottom: 40px;
}
.about-us a.adds-banner-btn {
    padding: 11px 20px;
    margin-top: 24px;
    font-size: 14px;
}

.about-us p.adds-banner-desc {
    font-size: 14px;
    line-height: 21px;
}

p.adds-banner-desc {
    font-size: 14px;
    line-height: 21px;
}

a.adds-banner-btn {
    padding: 10px 32px;
    margin-top: 16px;
    font-size: 14px;
}

.adds-banner-wrapper {
    top: auto;
    bottom: 20px;
    left: 16px;
    right: 16px;
    width: auto;
}

.adds-banner-icon {
    max-width: 90px;
    width: 100%;
    height: auto;
    margin-bottom: 16px;
}

.whole-seller h2.adds-banner-title {
    font-size: 28px;
    line-height: 36.4px;
    padding-right: 55px;
}
.whole-seller a.adds-banner-btn {
    margin-top: 10px;
}

  }
{% endstyle %}

<section class="adds-banner-section section-{{ section.id }}">
  <div class="section-abs-images">
    {% if section.settings.img_desk != blank %}
      {{ section.settings.img_desk | image_url: width: 2400 | image_tag:
          widths: '50, 100, 150, 200, 250, 300, 400, 500,600,1440',
          alt: "image",
          loading: "lazy",
          class: 'adds-banner_img-desk'
      }}
    {% endif %}
    {% if section.settings.img_mob != blank %}
      {{ section.settings.img_mob | image_url: width: 2400 | image_tag:
          widths: '50, 100, 150, 200, 250, 300, 400, 500,600,1440',
          alt: "image",
          loading: "lazy",
          class: 'adds-banner_img-mob'
      }}
    {% endif %}
  </div>

  <div class="page-width">
    <div class="adds-banner-wrapper">
        {% if section.settings.banner_icon != blank %}
            <div class="adds-banner-icon">
                {{ section.settings.banner_icon | image_url: width: 1600 | image_tag:
                    widths: '50, 100, 150, 200, 250, 300, 400, 500,600,1440',
                    alt: "image",
                    loading: "lazy"
                }}
            </div>
        {% endif %}
        {% if section.settings.stars_text != blank %}
            <div class="adds-banner-reviews">
                <div class="adds-banner-stars">
                    {{ section.settings.stars | image_url: width: 1600 | image_tag:
                        widths: '50, 100, 150, 200, 250, 300, 400, 500,600,1440',
                        alt: "image",
                        loading: "lazy"
                    }}
                </div>
                <span class="adds-banner-review-text">{{ section.settings.stars_text }}</span>
            </div>
        {% endif %}
      <div class="adds-banner-head">
        {% if section.settings.title != blank %}
          <h2 class="adds-banner-title">
            {{ section.settings.title }}
          </h2>
        {% endif %}

        {% if section.settings.description != blank %}
          <p class="adds-banner-desc">
            {{ section.settings.description }}
          </p>
        {% endif %}
      </div>

      {% if section.settings.button_text != blank %}
        <a href="{{ section.settings.button_link }}" class="adds-banner-btn">
          {{ section.settings.button_text }}
        </a>
      {% endif %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Adds Banner Section",
  "settings": [
    {
      "type": "image_picker",
      "id": "img_desk",
      "label": "Desktop Image"
    },
    {
      "type": "image_picker",
      "id": "img_mob",
      "label": "Mobile Image"
    },
    {
        "type": "header",
        "content": "content"
    },
    {
      "type": "image_picker",
      "id": "banner_icon",
      "label": "Content Icon"
    },
    {
      "type": "image_picker",
      "id": "stars",
      "label": "Stars Image"
    },
    {
      "type": "text",
      "id": "stars_text",
      "label": "Stars Text",
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Banner Heading"
    },
    {
      "type": "color",
      "id": "text_colot",
      "label": "Text Color",
      "default": "#000"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description",
      "default": "Add your adds-banner description here."
    },
    {
      "type": "range",
      "id": "max_width",
      "label": "Content Width",
      "min": 400,
      "max": 800,
      "step": 5,
      "unit": "px",
      "default": 620
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Shop Now"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    },
    {
      "type": "color",
      "id": "btn_bg",
      "label": "Button Background",
      "default": "#7C0732"
    },
    {
      "type": "color",
      "id": "btn_text",
      "label": "Button Color",
      "default": "#fff"
    },

    {
      "type": "header",
      "content": "Desktop Padding"
    },
    {
      "type": "range",
      "id": "padding_top_desktop",
      "label": "Padding Top (Desktop)",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "default": 80
    },
    {
      "type": "range",
      "id": "padding_bottom_desktop",
      "label": "Padding Bottom (Desktop)",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "default": 80
    },
    {
      "type": "header",
      "content": "Mobile Padding"
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "label": "Padding Top (Mobile)",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "label": "Padding Bottom (Mobile)",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "default": 40
    }
  ],
  "presets": [
    {
      "name": "Adds Banner Section",
      "category": "Duri"
    }
  ]
}
{% endschema %}
