<style>
.dlp-section-{{ section.id }}-padding {
  padding-top: {{ section.settings.padding_top }}px;
  padding-bottom: {{ section.settings.padding_bottom }}px;
  background-color: {{ section.settings.back-color}};
  position: relative;
}
.dlp-hero-banner {
  position: relative;
  color: #fff;
  text-align: left;
  padding: 100px 20px;
  background-size: cover;
  background-position: center;
}
.dlp-hero-banner-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}
.dlp-hero-banner-content {
       position: absolute;
    top: auto;
    left: 80px;
    max-width: 685px;
    bottom: 80px;
}
.dlp-hero-banner-content > svg {
    max-width: 130px;
    width: 100%;
    height: 130px;
    display: block;
    margin-bottom: 20px;
}
.dlp-hero-stars {
    color: #000;
    font-family: PP Mori;
    font-weight: 400;
    font-size: 19px;
    line-height: 21px;
    letter-spacing: 0px;
}
.dlp-hero-stars-text {
    font-family: PP Mori;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0px;
    color: #000;
}
.dlp-hero-heading {
    letter-spacing: 0px;
    margin: 0;
    color: #000;
    font-family: "PP Mori";
    font-size: 36px;
    font-weight: 600;
    line-height: 46.8px;
    padding-bottom: 8px;
    display: block !important;
}
.dlp-hero-heading-subtext p {
    margin: 0;
    padding-bottom: 0px;
    letter-spacing: 0;
}
.dlp-hero-button {
    background-color: #7C0732;
    color: white;
    padding: 14px 20px;
    border: none;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    max-width: fit-content;
    transition: background-color 0.4s ease, color 0.4s ease, transform 0.3s ease;
    cursor: pointer;
    max-width: 190px;
    width: 100%;
    margin-top: 20px;
}
  .dlp-hero-button:hover {
  background-color: #7C0732; /* 🎯 Darker version on hover */
  color: #ffffff;
  transform: translateY(-2px);
}
  
.dlp-cheese-bnr-icon {
  display: flex;
  gap: 10px;
  padding-top: 12px;
  padding-bottom: 48px;
}
.dlp-cheese-bnr-icon {
    display: none;
}
.dlp-bnr-cheese-btn-text {
  margin: 0;
  letter-spacing: 0px;
  transition: color 0.4s ease;
  color: #FFF;
    text-align: center;
    font-family: "PP Mori";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    text-transform: uppercase;
    }
.dlp-hero-icons {
  
}
.dlp-bnr-cheese-logo {
  display: flex;
  gap: 32px;
}
.dlp-hero-icons img {
  width: 103px;
  height: 72px;
}
.dlp-hero-icons .dlp-icon-label {
  display: flex;
  align-items: center;
  gap: 8px;
  background: white;
  color: black;
  padding: 9px 24.5px;
  font-family: Libre Franklin;
  font-weight: 700;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
}
  .dlp-cheese-bnr-Img {
  width: 100%;
  height: 100%; /* full screen height */
  object-fit: cover;
  display: block;
}
  .dlp-cheese-bnr-Img1 {
    display: none;
  }
  
  



  .dlp-CheeseBanner .dlp-cheese-bnr-Img{
    display: block;
  }
  .dlp-CheeseBanner .dlp-hero-banner-content {
    max-width: 785px;
  }
  .dlp-CheeseBanner .dlp-cheese-stars {
    display: none;
  }
  .dlp-cheese-stars {
    display: flex;
    gap: 10px;
    margin-bottom: 8px;
}
   
  
  .dlp-CheeseBanner .dlp-hero-heading-subtext {
    display: block;
  }
  .dlp-hero-heading-subtext {
    text-decoration: none;
    color: #000;
    font-family: "PP Mori";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    max-width: 521px;
  }
  .dlp-CheeseBanner .dlp-hero-button {
    display: none;
  }
  .dlp-new-btn-claass {
    display: none;
  }
  .dlp-CheeseBanner .dlp-new-btn-claass {
    display: flex;
    gap: 12px;
  }
  .dlp-bnr-cheese-btn-text4 {
    margin: 0;
    color: var(--Light-100, #FFF);
    text-align: center;
    font-family: "Libre Franklin";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    text-transform: uppercase;
}
  a.dlp-hero-button4 {
    display: flex;
    height: 60px;
    padding: 14px 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #732727;
    text-decoration: none;
}
  .dlp-CheeseBanner .dlp-hero-icons {
    display: none;
  }

  .dlp-hero-button4::before {
  content: '';
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: linear-gradient(120deg, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.4) 50%, rgba(255,255,255,0.2) 100%);
  transform: skewX(-20deg);
  transition: left 0.5s ease;
  z-index: 1;
  pointer-events: none;
}

.dlp-hero-button4:hover::before {
  left: 125%;
}

.dlp-hero-button4 {
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: color 0.4s ease, border-color 0.4s ease;
}

.dlp-hero-button4::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.15);
  transition: all 0.5s ease;
  z-index: 0;
}

.dlp-hero-button4:hover::before {
  left: 0;
}

.dlp-hero-button4:hover {
  color: #FFF6E5;
  border-color: #fff;
  {% comment %} background-color: #501B1B; {% endcomment %}
}

.dlp-bnr-cheese-btn-text4 {
  position: relative;
  z-index: 2;
  margin: 0;
}
.dlp-CheeseBanner-Coutry-Page .dlp-new-btn-claass {
  display: none;
}
.dlp-CheeseBanner-Coutry-Page .dlp-hero-heading-subtext p{
  margin: 0;
}
.dlp-CheeseBanner-Coutry-Page .dlp-hero-heading {
  padding-bottom: 20px;
}
.dlp-hero-heading {
  display: block;
}
.dlp-hero-heading-mbl {
  display: none;
}
@media (max-width: 768px) {
  .dlp-cheese-bnr-Img {
    height: 100vh;
    display: none;
  }
  .dlp-cheese-bnr-Img1 {
    display: block; /* always hide image */
    height: 100%;
  }
  .dlp-hero-banner-content {
    position: absolute;
    bottom: 20px;
    left: 16px;
    right: 16px;
  } 

      .dlp-hero-heading {
           font-size: 28px;
    line-height: 36.4px;
    }

  .dlp-hero-stars {
    font-size: 14px;
    line-height: 20px;
  }

  .dlp-hero-button {
    padding: 10px 32px;
    margin-bottom: 16px;
  }

  .dlp-bnr-cheese-btn-text {
    font-size: 14px;
    line-height: 20px;
  }

  .dlp-cheese-bnr-icon {
    gap: 8px;
    padding: 0;
    margin-bottom: 16px;
    justify-content: center;
  }

  .dlp-icon-label {
    justify-content: center;
    font-size: 12px;
    padding: 8px 16px;
  }
  .dlp-hero-icons .dlp-icon-label {
    padding: 9px 10px;
  }

  .dlp-bnr-cheese-logo {
    flex-direction: row;
    justify-content: center;
    gap: 16px;
  }

  .dlp-hero-icons img {
    width: 60px;
    height: auto;
  }

  .dlp-cheese-bnr-Img {
    width: 100%;
    height: 100vh;
  }
.dlp-CheeseBanner .dlp-new-btn-claass {
  gap: 8.76px;
  flex-direction: column;
}
a.dlp-hero-button4 {
    display: flex;
    height: 60px;
    padding: 15px 32.92px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #732727;
    max-width: 196px;
    margin: 0 auto;
    width: 100%;
}
.dlp-bnr-cheese-btn-text4 {
  font-size: 16px;
  line-height: 19.2px;
}
.dlp-CheeseBanner .dlp-hero-heading {
    text-align: center;
    max-width: 288px;
    margin: 0 auto;
  }
  .dlp-hero-heading {
  display: none;
}
.dlp-hero-heading-mbl {
  display: none;
  padding-top: 8px;
  padding-bottom: 8px;
  letter-spacing: 0px;
  text-align: start;
  color: #FFF;
  font-family: "PP Mori";
  font-size: 27px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  margin: 0;
}
.dlp-hero-banner-content svg {
    max-width: 90px;
    height: auto;
    margin-bottom: 16px;
}
}

</style>

<section class="dlp-section-{{ section.id }}-padding {% if section.settings.enable_highlight-chz-bnr %}dlp-CheeseBanner{% endif %} {% if section.settings.enable_highlight-country-page %}dlp-CheeseBanner-Coutry-Page{% endif %}">
  <div class="dlp-bnr-background-img">
    {{ section.settings.cf-banner-video | video_tag:
            widths: '50, 100, 150, 200, 250, 300, 400, 500, 600',
            alt: "video",
            class: 'dlp-cheese-bnr-Img',
            loading: "eager",
            autoplay: true,
            loop: true,
            muted: true,
            playsinline: true,
            id: 'cf-banner-video'
          }}
     {% if section.settings.cheeseBnrImg != blank %}
     <img class="dlp-cheese-bnr-Img dlp-ch424" src="{{ section.settings.cheeseBnrImg | image_url }}" loading="lazy" width="100%" height="">
     {% endif %}
     {% if section.settings.cheeseBnrImg1 != blank %}
     <img class="dlp-cheese-bnr-Img1" src="{{ section.settings.cheeseBnrImg1 | image_url }}" loading="lazy" width="100%" height="">
     {% endif %}
  </div>
  
  <div class="dlp-hero-banner-content">
    {% render'new-ssvvg' %}
    <div class="dlp-cheese-stars">
    <div class="dlp-hero-stars_icon">★★★★★</div>
    <div class="dlp-hero-stars-text">1000s of happy customers</div>
    </div>
    <h1 class="dlp-hero-heading">{{ section.settings.heading }}</h1>
    <h1 class="dlp-hero-heading-mbl">{{ section.settings.headingMBL }}</h1>
    <div class="dlp-hero-heading-subtext">{{ section.settings.subtextt }}</div>
    <a href="{{ section.settings.button_link }}" class="dlp-hero-button"><p class="dlp-bnr-cheese-btn-text">{{ section.settings.button_label }}</p></a>
    <div class="dlp-new-btn-claass">
      <a href="{{ section.settings.button_link4 }}" class="dlp-hero-button4"><p class="dlp-bnr-cheese-btn-text4">{{ section.settings.button_label4 }}</p></a>
      <a href="{{ section.settings.button_link5 }}" class="dlp-hero-button4"><p class="dlp-bnr-cheese-btn-text4">{{ section.settings.button_label5 }}</p></a>
    </div>
    <div class="dlp-hero-icons">
      <div class="dlp-cheese-bnr-icon">
      <div class="dlp-icon-label">  {% render 'cheese-logo1' %} 100% Risk Free</div>
      <div class="dlp-icon-label"> {% render 'cheese-logo' %} 500,000+ Sold</div>
      </div>
      <div class="dlp-bnr-cheese-logo">
      {% if section.settings.logo1 != blank %}
        <img src="{{ section.settings.logo1 | image_url: width: 120 }}" alt="Logo 1">
      {% endif %}
      {% if section.settings.logo2 != blank %}
        <img src="{{ section.settings.logo2 | image_url: width: 120 }}" alt="Logo 2">
      {% endif %}
      </div>
    </div>
  </div>
</section>


{% schema %}
{
  "name": "Duri Landing Banner",
  "settings": [
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Top",
      "default": 10
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 10
    },
    {
      "type": "range",
      "id": "mbl_padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Mobile Top Padding",
      "default": 10
    },
    {
      "type": "range",
      "id": "mbl_padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px", 
      "label": "Mobile Bottom Padding",              
      "default": 10
    },
    {
      "type": "color", 
      "id": "back-color",
      "label": "Background Color"
    },
    {
      "type": "image_picker",
      "id": "cheeseBnrImg",
      "label": "cheeseBnrImg"
    },
    {
      "type": "video",
      "id": "cf-banner-video",
      "label": "cheeseBnrImg"
    },
    {
      "type": "image_picker",
      "id": "cheeseBnrImg1",
      "label": "cheeseBnrImg1"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "headingMBL",
      "label": "Heading Mobile"
    },
    {
      "type": "richtext",
      "id": "subtextt",
      "label": "subtext"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label",
      "default": "SHOP NOW"
    },
    {
      "type": "text",
      "id": "button_label4",
      "label": "Button Label",
      "default": "Request Form"
    },
    {
      "type": "text",
      "id": "button_label5",
      "label": "Button Label",
      "default": "CALL US"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    },
    {
      "type": "url",
      "id": "button_link4",
      "label": "Button Link"
    },
    {
      "type": "url",
      "id": "button_link5",
      "label": "Button Link"
    },
    {
      "type": "image_picker",
      "id": "logo1",
      "label": "Logo 1 (e.g. PA Preferred)"
    },
    {
      "type": "image_picker",
      "id": "logo2",
      "label": "Logo 2 (e.g. Dairy of Distinction)"
    },
    {
      "type": "checkbox",
      "id": "enable_highlight-chz-bnr",
      "label": "Cheese Banner",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_highlight-country-page",
      "label": "Cheese Banner Country Page",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "Duri Landing Banner",
      "category": "Custom"
    }
  ]
}
{% endschema %}
